In [ ]:
name="sayitri"
print("my name is",name,".")

my name is sayitri .

In [ ]:
n="sayitri"
print(f"my name is {name}.")

my name is sayitri.

#**Python syntax and structure**

#**Basic syntax rules**

In [ ]:
print("hello,World")#function call
x=5 #variable assignment
y=10 # no need to declare type

hello,World

#**Python is case-sensitive**

In [ ]:
Name="John"
name="Jannet"
print(Name,name)

John Jannet

#**Indentation matters**

In [ ]:
if x>0:
  print("x is positive") # 4 spaces indentation
  print("this is inside if block")

x is positive
this is inside if block

#**Variables and Data types**

#Numeric type

In [ ]:
age=20 #int
height=5.8 #float
complex_num=3+4j #complex

#String type

In [ ]:
name="sayitri"
message='hello world'
multiline="""this is multiline string type"""

#Boolean type

In [ ]:
is_active=True
is_finished=False

#Type checking

In [ ]:
print(type(age)) #<class 'int'>
print(type(height)) #<class 'float'>
print(type(name)) #<class 'str'>

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
type(age)

int

#**Type conversion**

In [ ]:
str_number="123"
int_number=int(str_number)
float_number=float(str_number)
print(f"original:{str_number} (type:{type(str_number)})")
print(f"integer:{int_number} (type:{type(int_number)})")
print(f"float:{float_number} (type:{type(float_number)}")

original:123 (type:<class 'str'>)
integer:123 (type:<class 'int'>)
float:123.0 (type:<class 'float'>

#**hands on exercise:**

#**Exercise 1:Personal Information**

#create variables for personal information

In [ ]:
first_name="Sayitri"
last_name="Davanageri"
age=20
height=5.8
is_student=True

#print formatted information

In [ ]:
print(f"{first_name} {last_name}")
print(f"Age:{age}")
print(f"Height:{height} feet")
print(f"Student:{is_student}")

Sayitri Davanageri
Age:20
Height:5.8 feet
Student:True

#Type conversions

In [ ]:
age_str=str(age)
height_int=int(height)
print(f"age as string:{age_str}")
print(f"height as integer:{height_int}")

age as string:20
height as integer:5

#**Operators and basic operations**

#arithmatic operators

In [ ]:
a=10
b=5
print(f"{a}+{b}={a+b}")
print(f"{a}-{b}={a-b}")
print(f"{a}*{b}={a*b}")
print(f"{a}/{b}={a/b}")
print(f"{a}//{b}={a//b}")
print(f"{a}%{b}={a%b}")
print(f"{a}**{b}={a**b}")

10+5=15
10-5=5
10*5=50
10/5=2.0
10//5=2
10%5=0
10**5=100000

##**Order of operations(PEMDAS)**



*   **P-Parentheses**
*   **E-Exponents**

*   **M-Multiplication**

*   **D-Division**
*   **A-Addition**


*   **S-Subtraction**

In [ ]:
result=2+3*4**2-1
print(f"2+3*4**2-1={result}")

2+3*4**2-1=49

#Relational or comparison operators

In [ ]:
x=5
y=10
print(f"{x}=={y}={x==y}")
print(f"{x}!={y}={x!=y}")
print(f"{x}<{y}={x<y}")
print(f"{x}>{y}={x>y}")
print(f"{x}<={y}={x<=y}")
print(f"{x}>={y}={x>=y}")

5==10=False
5!=10=True
5<10=True
5>10=False
5<=10=True
5>=10=False

#String operation

In [ ]:
name1="alice"
name2="bob"
print(f"{name1}<{name2}={name1<name2}")

alice<bob=True

#Logical operators

In [ ]:
p=True
q=False
print(f"p and q={p and q}") # both must be true
print(f"p or q={p or q}") # at least one must be true
print(f"not p={not p}") #opposite of p

p and q=False
p or q=True
not p=False

In [ ]:
#practical example
age=20
has_license=True
can_drive=age>=18 and has_license
print(f"Can drive:{can_drive}")

Can drive:True

In [ ]:
#multiple conditions
score=85
is_present=True
can_pass=score>=80 and is_present
print(f"Can pass:{can_pass}")

Can pass:True

#**Hands-on exercise**
#exercise2:simple calculator
create a calculator that checks if a person qualifies for a loan

In [ ]:
#personal information
age=25
annual_income=50000
credit_score=720
has_collateral=True

In [ ]:
#loan criteria
min_age=18
min_income=30000
min_credit_score=650

In [ ]:
#check qualifications
age_qualified=age>=min_age
income_qualified=annual_income>=min_income
credit_qualified=credit_score>=min_credit_score
overall_qualified=age_qualified and income_qualified and credit_qualified

#**Data Structures**

#**lists**

#creating lists

In [ ]:
fruits=["apple","banana","orange","grape"]
numbers=[10,20,30,40,50]
mixed_data=[1,"hello",3.14,True]

#list indexing(0-based)

In [ ]:
print(f"first fruit:{fruits[0]}")
print(f"last fruit:{fruits[-1]}")
print(f"second to last:{fruits[-2]}")

first fruit:apple
last fruit:grape
second to last:orange

#list slicing

In [ ]:
print(f"first 2 fruits:{fruits[0:2]}")
print(f"last 2 fruits:{fruits[-2:]}")
print(f"all except first:{fruits[1:]}")

first 2 fruits:['apple', 'banana']
last 2 fruits:['orange', 'grape']
all except first:['banana', 'orange', 'grape']

#list methods

In [ ]:
fruits.append("kiwi") # add to end
fruits.insert(1,"strawberrry") #insert at index
removed=fruits.pop() #remove last
print(f"updated list:{fruits}")
print(f"removed:{removed}")

updated list:['apple', 'strawberrry', 'banana', 'orange', 'grape']
removed:kiwi

#list operations

In [ ]:
print(f"length:{len(fruits)}")
print(f"contains 'apple':{'apple' in fruits}")
print(f"index of 'banana':{fruits.index('banana')}")

length:5
contains 'apple':True
index of 'banana':2

#**Tuples**

#tuples are immutable

In [ ]:
coordinates=(10,20)
rgb_color=(255,128,0)
person_info=("Alice",25,"Engineer", True)

#tuple unpacking

In [ ]:
x,y=coordinates
print(f"X:{x},Y:{y}")

X:10,Y:20

#tuple methods

In [ ]:
print(f"count of 25:{person_info.count(25)}")
print(f"index of 'Engineer':{person_info.index('Engineer')}")

count of 25:1
index of 'Engineer':2

Why use tuples?


*   immutable(safe for dictionery keys)

* slightly faster than lists
*   good for fixed collections